<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        background-image:url('/img/gridme/gridme.png');
      }
    </style>
    <title></title>
  </head>

  <body>
    <%= yield %>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>