<%= erb :'layouts/_header' %>

<form action="/search" method="GET">
<label>Search for a Restaurant</label><br>
<input type="text" name="query">
<input type="submit" name="search">

<% if !locals.empty? %>
<%= message %>
<% end %>

<%= erb :'layouts/_footer' %>